@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    
    Poland, Warsaw<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Administrator:</strong>   <a href="mailto:mati199111@gmail.com">mati199111@gmail.com</a><br />
    
</address>