@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>LUDZIE ZAGINIENI</h1>
    <p class="lead">Witaj na stronie dotyczącej zaginięć ludzi</p>
    <p>Zarejestruj się aby rozpocząć</p>
    
</div>

